<page-heading heading="Colophon" subHeading="All the details" backward="/places" forward="/overview"></page-heading>
<div class="grid-container">
  <div class="colophon__inspiration">
    <heading text="Inspiration"></heading>
    <p></p>
  </div>
  <div class="colophon__implementation">
    <heading text="Implementation"></heading>
    <p></p>
  </div>
  <div class="colophon_incomplete">
    <heading text="Incomplete"></heading>
    <p></p>
  </div>
  <div class="colophon_inconsistencies">
    <heading text="Inconsistencies"></heading>
    <p></p>
  </div>
</div>
