.data-list__list{
  list-style-type: none;
  padding-left: 0;
}

.data-list__entry{
  font-style: italic;
  margin-bottom: 0.75em;
}

.data-list__entry--meta{
  font-size: 0.75rem;
  font-style: normal;
  text-transform: uppercase;
}
