<div class="grid-container">
  <page-heading heading="Courses" subHeading="Temporary subheading"></page-heading>
  <data-list heading="Most recent course titles" [entries]="getCourseTitles(20)"></data-list>
  <courses-by-year-chart></courses-by-year-chart>
  <factoid heading="Total courses" [fact]="getTotal()" class="factoid-total"></factoid>
  <factoid heading="Most common language" [fact]="getMostCommonLanguage()" class="factoid-most-common"></factoid>
  <factoid heading="Recurring courses" [fact]="getRecurringPercentage()" class="factoid-recurring"></factoid>
  <factoid heading="Languages" [fact]="getLanguageCount()" [list]="getLanguages()" class="factoid-languages"></factoid>
</div>
