.grid-container{
  display: grid;
  grid-column-gap: 4%;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr [col-start]);
}

data-list{
  grid-column: 4 / span 1;
  grid-row: 1 / span 4;
}

courses-by-year-chart{
  grid-column: 1 / span 3;

}

.factoid-total{
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.factoid-most-common{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.factoid-languages{
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;
}

.factoid-recurring{
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.factoid-online{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
