/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Nimbus Sans L';
  src: url('./fonts/nimbus-sans-l-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./fonts/spectral-regular-webfont.woff2') format('woff2'),
       url('./fonts/spectral-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./fonts/spectral-italic-webfont.woff2') format('woff2'),
       url('./fonts/spectral-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body{
  font-family: 'Spectral', sans-serif;
}

.grid-container{
  display: grid;
  grid-column-gap: 4%;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr [col-start]);
}

data-list{
  grid-column: 4 / span 1;
  grid-row: 1 / span 4;
}

/* These three variables are set by the ColorService */
.primary{
  color: var(--primary-color);
}

.secondary{
  color: var(--secondary-color);
}

.tertiary{
  color: var(--tertiary-color);
}

.inactive{
  color: #ccc;
}
