<page-heading heading="Places" subHeading="Countries, Cities, and Institutions." [color]="colorClass" [filter]="filterElement.name" backward="/courses" forward="/colophon"></page-heading>
<div class="grid-container" *ngIf="placesViewDataService.hasData === true">
  <data-list heading="Institutions with the most courses" [entries]="institutions" [apiData]="institutionsEndpoint"></data-list>
  <courses-by-place-chart [data]="countriesByRegion" [color]="color"></courses-by-place-chart>
  <factoid heading="Countries" [fact]="countriesCount" [list]="countries" [color]="colorClass" isFilter="true" [currentFilter]="filterElement" [apiData]="countriesEndpoint" view="/places" class="factoid-countries"></factoid>
  <factoid heading="Number of institutions" [fact]="institutionsCount" [apiData]="institutionsEndpoint" class="factoid-total-institutions"></factoid>
  <factoid heading="Institution with the most courses" [fact]="institutionWithMostCourses" [apiData]="institutionsEndpoint" class="factoid-institution-most-courses"></factoid>
  <factoid heading="City with the most courses" [fact]="cityWithMostCourses?.fact" [list]="cityWithMostCourses?.list" [apiData]="citiesEndpoint" class="factoid-city-most-courses"></factoid>
  <factoid heading="Most institutions per city" [fact]="mostInstitutionsPerCity?.fact" [list]="mostInstitutionsPerCity?.list" [csvData]="institutionsPerCity" class="factoid-city-most-institutions"></factoid>
  <factoid heading="Cities" [fact]="citiesCount" [apiData]="citiesEndpoint" class="factoid-cities"></factoid>
</div>
