.page-header__heading{
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 4.5rem;
  line-height: 1em;
  margin: 0;
}

.page-header__subheading{
  font-weight: normal;
  font-size: 1rem;
  margin-top: 0;
}
