.page-header{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.page-header__heading{
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 4.5rem;
  line-height: 1em;
  margin: 0;
}

.page-header__arrows{
  margin: 0 0 0 auto;
  padding: 0;
}

.page-header__arrow{
  cursor: pointer;
  display: inline;
  font-size: 3rem;
  line-height: 1em;
  padding-left: 0.5em;
}

.page-header__subheading{
  flex-basis: 100%;
  font-weight: normal;
  font-size: 1rem;
  margin-top: 0;
}
