.overview__introduction{
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.overview__instructions{
  grid-column: 4 / span 1;
  grid-row: 1 / span 3
}

.overview__icon{
  height: 1.5em;
  vertical-align: bottom;
  width: 1.5em;
}

.overview__thumbnails{
  cursor: pointer;
  max-width: 100%;
}

.overview__thumbnails-courses{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.overview__thumbnails-places{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
