<page-heading heading="Notlef" subHeading="Visualising Digital Humanities Courses" forward="/courses"></page-heading>
<div class="grid-container">
  <div class="overview__introduction">
    <heading text="Introduction"></heading>
    <p>This site is an entry by <a href="https://twitter.com/dr_pda">Philip Allfrey</a> for the 2020 <a href="https://github.com/acdh-oeaw/ACDHchHackathon2020">ACDH-CH Virtual Hackathon</a>. The task was to design and implement a creative visualisation of the data and metadata contained in the <a href="https://dhcr.clarin-dariah.eu/">Digital Humanities Course Registry</a>.</p>
  </div>
  <div class="overview__instructions">
    <heading text="Instructions"></heading>
    <p>Click on the thumbnails on this page or the arrows in the header to navigate to the different visualisations of the data.</p>
    <p>On each page one set of data is highlighted in colour. Clicking on one of these values will filter the other data by that page (e.g. to show information for a particular language or country).</p>
    <p>Each set of information has an icon beside it. If the information is taken directly from the <a href="https://dhcr.clarin-dariah.eu/api/v1/">Digitial Humanities Course Registry API</a>, the <img src="/assets/info-icon.svg" class="overview__icon"/> is displayed, and clicking on it will show you the endpoint and parameters that were used to query the API. If I have done any significant processing of the data, the <img src="/assets/download-icon.svg" class="overview__icon"/> is displayed, and clicking on it will allow you to download that data in CSV format. </p>
  </div>
  <img src="./assets/courses.png" routerLink="/courses" class="overview__thumbnails overview__thumbnails-courses" />
  <img src="./assets/places.png" routerLink="/places" class="overview__thumbnails overview__thumbnails-places" />
  <img src="./assets/colophon.png" routerLink="/colophon" class="overview__thumbnails overview__thumbnails-colophon" />
</div>
